.constructor_item {
    composes: pt-4 from global;
    composes: pb-4 from global;
    composes: pl-8 from global;
    composes: pr-8 from global;
    composes: mb-4 from global;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: #1C1C21;
    box-sizing: border-box;
    height: 80px;
    border-radius: 40px;
}

.constructor_item:first-child {
    border-radius: 88px 88px 40px 40px;
}

.constructor_item:last-child {
    border-radius: 40px 40px 88px 88px;
}

.image {
    composes: ml-6 from global;
    composes: mr-5 from global;
    width: 80px;
    height: 40px;
}

.name {
    composes: text from global;
    composes: text text_type_main-default from global;
}

.price {
    composes: ml-5 from global;
    composes: mr-5 from global;
    composes: text from global;
    composes: text text_type_digits-default from global;
    display: flex;
    flex-wrap: nowrap;
}