.label {
    composes: text text_type_main-medium from global;
}

.value {
    composes: text text_type_digits-large from global;
    text-shadow: 0px 0px 16px rgba(51, 51, 255, 0.25), 0px 0px 8px rgba(51, 51, 255, 0.25), 0px 4px 32px rgba(51, 51, 255, 0.5);
}