.input {
    composes: mb-6 from global;
}

.button {
    composes: mt-6 mb-20 from global;
    text-align: center;
}

.helpRedirect {
    composes: text text_type_main-default from global;
    color: #8585AD;
    display: block;
    text-align: center;
}

.link {
    composes: pl-1 text text_type_main-default from global;
    color: #4C4CFF;
}
