.ingredientContainer {
    position: absolute;
    width: 72px;
    height: 72px;
    border-radius: 50%;
  }
  
.ingredientImg {
    position: absolute;
    left: -36px;
    z-index: 2;
    margin: 2px;
}

.ingredientContainer::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    background: linear-gradient(to right, blue, purple);
    border: 2px solid transparent;
    border-radius: inherit;
} 

.ingredientContainer::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    margin: 2px;
    position: absolute;
    z-index: 1;
    background: #000000;
    border-radius: inherit;
} 