
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1C1C21;
    border-radius: 40px;
    z-index: 100;
}

.close_btn {
    composes: mr-10 from global;
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
    background: none;
    border: none;
}

.close_btn_ingredient {
    composes: close_btn;
    composes: mt-10 from global;
    padding-top: 10px;
}

.close_btn_order {
    composes: close_btn;
    composes: mt-15 from global;
}

.close_btn_orderInfo {
    composes: close_btn;
    composes: mt-10 from global;
}