.card {
    composes: pl-4 mb-8 mr-3 from global;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    max-width: 270px;
    cursor: grab;
    color: #ffffff;
    text-align: center;
}


.image {
    composes: mr-4 ml-4 from global;
    width: 240px;
    height: 120px;
}

.price {
    composes: pt-1 pb-1 from global;
    display: flex;
    justify-content: center;
    color: #ffffff;
}

.price_num {
    composes: pr-1 text text_type_digits-default from global;
    color: #ffffff;
}

.name {
    composes: text text_type_main-default from global;
    text-align: center;
    color: #ffffff;
}

.add_btn {
    display: none;
    color: #ffffff;
}
