.details_section {
    composes: pt-10 pr-10 pb-15 pl-10 from global;
    text-align: center;
}

.details_header {
    composes: text text_type_main-large from global;
    text-align: left;
}

.details_title {
    composes: pt-4 pb-8 text text_type_main-medium from global;
}

.nutrition_info {
    composes: text text_type_main-default text_color_inactive from global;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nutrition_item {
    composes: mr-5 from global;
}

.nutrition_item:last-child {
    margin-right: 0px;
}

.nutrition_val {
    composes: text text_type_digits-default from global;
}