

.menu_item {
    composes: text from global;
    composes: text_type_main-default from global;
    composes: pl-5 from global;
    composes: pr-5 from global;
    composes: mt-4 from global;
    composes: mb-4 from global;
}

.menu_link {
    color: #8585AD;
    display: flex;
}

.menu_item[id=profile] {
    margin-left: auto;
}

@media screen and (max-width: 1200px) {
    .menu_item[id=profile] {
        margin-left: 0;
    }
}

.menu_item:hover .menu_link{
    color: #F2F2F3;
}

.menu_item:hover svg{
    fill: #F2F2F3;
}

.menu_item[id=logo_desktop]:hover svg {
    fill: none;
}

@media screen and (max-width: 1200px) {

    .menu_item[id=logo_desktop] {
        display: none;
    }   
}

.menu_link_active {
    composes: menu_link;
    color: #F2F2F3;
}

.link_text {
    composes: pl-2 from global;
}

