.ingredients {
    box-sizing: border-box;
    width: 600px; 
    composes: ml-5 from global;  
    composes: mr-5 from global;  
}

.title {
    composes: text from global;
    composes: text_type_main-large from global;
    composes: pt-10 from global;
    composes: pb-5 from global;
}

.ingredient_groups {     
    composes: pt-10 from global;
    height: calc(100vh - 196px - 40px - 56px);
    overflow-y: scroll;
}