.header {
    background: #1C1C21;
}

.nav {
    display: flex;
    justify-content: space-around;
}


.visibility_desktop {
    border: 1px solid green;
    display: initial;
}

.visibility_mobile {
    border: 1px solid red;
    display: none !important;
}

@media screen and (max-width: 1000px) {

    .visibility_mobile {
        border: 1px solid green;
        display: initial;
    }

    .visibility_desktop {
        border: 1px solid red;
        display: none;
    }

    .nav_items {
        display: flex;
        flex-direction: column-reverse;
        width: 100vw;
        height: calc(100vh - 56px);
        position:fixed;
        top: 56px;
    }
    
}